.it-acticle{
  overflow: hidden;
}
.it-acticle h3{
  text-align: center;
  margin: 1em 0;
  font-size: 1.8em;
}
.it-acticle .info{
  margin: 1em 0;
  font-size: 14px;
  text-align: center;
}
.it-acticle .content{
  line-height: 1.8em;
  text-indent: 2em;
  margin-bottom: 1em;
  padding: 0 1em;
}
.chapter-title{
  font-weight: bold;
}
.chapter-item,.chapter-title,.note{
  margin: 1em 0;
  text-indent: 0;
}
pre{
  position: relative;
  font-family: inherit;
  background-color: #f4f5f6;
  margin: 0;
}
pre:before{
  content: "";
  display: block;
  position: absolute;
  width: 2px;
  height: 100%;
  background-color: #9b4dca;
}
.txt-center{
  text-align: center;
}
.p-header{
  margin: 0.5em 0;
  font-weight: bold;
}