<!doctype html>
<html>
 <head>
   <meta charset="utf-8">
   <title>react路由</title>
   <meta name="viewport" content="width=device-width">
   <link rel="stylesheet" type="text/css" href="../../css/common.css">
   <link rel="stylesheet" type="text/css" href="../../css/normalize.css">
   <link rel="stylesheet" type="text/css" href="../../css/page.css">
   <link rel="stylesheet" type="text/css" href="../../css/article.css">
 </head>
 <body>
    <div class="loading-c" id="load-c">
      <div class="loading" id="loading">
          <span class="ball"></span>
          <span class="shadow"></span>
          <span class="text">加载中......</span>
      </div>
    </div>
    <div class="wrapper wrapper-bg"></div>
    <div class="main" id="main">
      <div class="drawer" id="drawer">
        <i></i>
        <i></i>
        <i></i>
      </div>
      <div class="mobile-aside">
        <div class="mobile-i">
          <div class="mobile-icon-box">
             <span class="icon"></span>
          </div>
            <span class="name">一个程序猿</span>
         </div>
         <a href="../../index.html">首页</a>
         <a href="../../about.html">关于</a>
         <a href="../../works.html">作品</a>
         <a href="../../it.html" class="cur">技术</a>
         <a href="../../contract.html">联系</a>
      </div>
      <div class="aside">
         <div class="aside-top trans-bg">
            <span class="icon"></span>
            <span class="name">一个程序猿</span>
         </div>
         <div class="aside-menu-panel trans-bg">
           <ul class="aside-menu">
            <li><a href="../../index.html">首页</a></li>
            <li><a href="../../about.html">关于</a></li>
            <li><a href="../../works.html">作品</a></li>
            <li class="cur"><a href="../../it.html">技术</a>
            <li><a href="../../contract.html">联系</a></li>
           </ul>
         </div>
      </div>
      <div class="content-i">
        <div class="it-acticle trans-bg">
          <h3>React路由</h3>
          <div class="info">
            <span class="date">发布时间：2017-01-05</span>
            <span class="tag">标签:react</span>
          </div>
          <div class="content">
            <p>说起路由，让人容易联想到现实生活当中属于硬件范畴的路由器，但其实他们是两码事，如果没有接触过SPA开发的会有点陌生，说简单点，就是负责访问路径的跳转，跟j2ee的struts负责的职责差不多，只是react中的路由跳转是在一个页面内，不会跳转到新的页面进行刷新操作，这样能快速响应用户请求，提升用户体验。现在大热的vue,angular等开发框架都是用来开发单页面应用(SPA)的，当然react也是其中一员。</p>
            <p>关于react-router的教材大多是用es6编写的，这里我也才用此方法，是用webpack作为打包工具，这之前需要安装nodejs，安装很简单，这里不细说，先创建一个webpack项目吧。</p>
            <p>1.创建一个文件夹，然后使用命令行工具进入该文件夹，这里我的文件夹名称是router;</p>
            <p>2.npm init命令，创建package.json;</p>
            <p>3.使用npm install依赖包，包括react,react-dom,react-router,babel-laoder,babel-preset-es2015,babel-preset-react,webpack-dev-server,html-webpack-plugin,css-loader,style-loader这么多就好啦！</p>
            <p>4.在router文件夹下面创建app和build文件夹，在app里面创建模版页面和index.js；</p>
            <p>5.router文件夹下面新建webpack.config.js,具体配置如下:</p>
            <div class="img-box">
              <img src="../../images/it/react/20170105/4.png" alt="">
            </div>
            <p>项目最终文件夹结构如下图：</p>
            <div class="img-box">
              <img src="../../images/it/react/20170105/5.png" alt="">
            </div>
            <p>经过上面一系列步骤之后，终于可以写代码了，打开index.js:</p>
            <pre>require("./css/index.css");</pre>
            <pre>import React from "react";</pre>
            <pre>import ReactDOM from "react-dom";</pre>
            <pre>import {Router,Route,browserHistory} from "react-router";</pre>

            <pre>var Home=React.createClass({</pre>
            <pre>    render:function(){</pre>
            <pre>        return(</pre>
            <pre>            &lt;p&gt;this is home page&lt;/p&gt;</pre>
            <pre>        );</pre>
            <pre>    }</pre>
            <pre>});</pre>

            <pre>ReactDOM.render((</pre>
            <pre>    &lt;Router history={browserHistory}>&gt;</pre>
            <pre>        &lt;Route path="/index.html" component={Home}/>&gt;</pre>
            <pre>    &lt;/Router>&gt;</pre>
            <pre>),document.getElementById("main"));</pre>
            <p>这里我引用了一个css，通过相应的css-loader和style-loader进行解析，自动加入到生成的页面当中，现在在浏览器里面输入http://127.0.0.1:8080/index.html就可以看到效果了：</p>
            <div class="img-box">
              <img src="../../images/it/react/20170105/6.png" alt="">
            </div>
            <p>上面的例子实现了一个简单的路由，只配置了一个路径index.html,使用组件Home作为响应返回，现实场景中一个路径配置怎么够，配置多个也很简单，添加Route，修改path和componet就行了，下面实现一个多路由的简单配置；</p>
            <pre>const Home=React.createClass({</pre>
            <pre>    render:function(){</pre>
            <pre>        return(</pre>
            <pre>            &lt;div className="menu-bar"&gt;</pre>
            <pre>                &lt;Menu/&gt;</pre>
            <pre>                &lt;p className="content">this is home page!&lt;/p&gt;</pre>
            <pre>            &lt;/div&gt;</pre>
            <pre>        );</pre>
            <pre>    }</pre>
            <pre>});</pre>

            <pre>const Menu=React.createClass({</pre>
            <pre>    render:function(){</pre>
            <pre>        return(</pre>
            <pre>            &lt;ul className="menu-list"&gt;</pre>
            <pre>                &lt;li className="menu"&gt;&lt;a href="./home"&gt;home&lt;/a&gt;&lt;/li&gt;</pre>
            <pre>                &lt;li className="menu"&gt;&lt;a href="./about"&gt;about&lt;/a&gt;&lt;/li&gt;</pre>
            <pre>                &lt;li className="menu"&gt;&lt;a href="./contact"&gt;contact&lt;/a&gt;&lt;/li&gt;</pre>
            <pre>           &lt;/ul&gt;</pre>
            <pre>        );</pre>
            <pre>    }</pre>
            <pre>});</pre>
            <pre>const About=React.createClass({</pre>
            <pre>    render:function(){</pre>
            <pre>        return(</pre>
            <pre>            &lt;div className="menu-bar"&gt;</pre>
            <pre>                &lt;Menu/&gt;</pre>
            <pre>                &lt;p className="content"&gt;this is about page!&lt;/p&gt;</pre>
            <pre>            &lt;/div&gt;</pre>
            <pre>        );</pre>
            <pre>    }</pre>
            <pre>});</pre>

            <pre>const Contact=React.createClass({</pre>
            <pre>    render:function(){</pre>
            <pre>        return(</pre>
            <pre>           &lt;div className="menu-bar"&gt;</pre>
            <pre>                &lt;Menu/&gt;</pre>
            <pre>                &lt;p className="content">this is contact page!&lt;/p&gt;</pre>
            <pre>            &lt;/div&gt;</pre>
            <pre>        );</pre>
            <pre>    }</pre>
            <pre>});</pre>

            <pre>ReactDOM.render((</pre>
            <pre>    &lt;Router history={browserHistory}&gt;</pre>
            <pre>        &lt;Route path="/" component={Home}/&gt;</pre>
            <pre>        &lt;Route path="/home" component={Home}/&gt;</pre>
            <pre>        &lt;Route path="/about" component={About}/&gt;</pre>
            <pre>        &lt;Route path="/contact" component={Contact}/&gt;</pre>
            <pre>    &lt;/Router&gt;</pre>
            <pre>),document.getElementById("main"));</pre>
            <p>上面的例子就配置了多个地址用于跳转，只是这些跳转都是在一个页面内完成的。这里需要说明的是Router和Route都是react的组件，只是他们没有最终生成DOM渲染到界面显示出来，他们只是负责我们的应用应该如何工作。</p>
            <p>如果运行上诉例子会发现，整个页面都会闪动，感觉像页面的整体刷新，这个当然不是我们想要的效果，下面正式学习一下路由吧。</p>

            <p>前面也说到react是开发单页面的库，而单页面往往是局部的视图切换与数据刷新，因此一个访问路径对应一个局部的组件，而整个页面的基本框架不变，从而组成了可重用的页面结构，下面再看一个例子：</p>
            <pre>require("./css/index.css");</pre>
            <pre>import React from "react";</pre>
            <pre>import ReactDOM from "react-dom";</pre>
            <pre>import {Router,Route,IndexRoute,Link,browserHistory} from "react-router";</pre>

            <pre>const MainLayout=React.createClass({</pre>
            <pre>    render:function(){</pre>
            <pre>        return(</pre>
            <pre>            &lt;div className="wrapper"&gt;</pre>
            <pre>                &lt;div className="header"&gt;header&lt;/div&gt;</pre>
            <pre>                &lt;div className="aside-menu"&gt;</pre>
            <pre>                    &lt;Menu/&gt;</pre>
            <pre>                &lt;/div&gt;</pre>
            <pre>                &lt;div className="content"&gt;</pre>
            <pre>                    {this.props.children}</pre>
            <pre>                &lt;/div&gt;</pre>
            <pre>            &lt;/div&gt;</pre>
            <pre>        );</pre>
            <pre>    }</pre>
            <pre>});</pre>
            <pre>const MainContent=React.createClass({</pre>
            <pre>    render:function(){</pre>
            <pre>        return(</pre>
            <pre>            &lt;div className="main-content"&gt;</pre>
            <pre>                {this.props.children}</pre>
            <pre>            &lt;/div&gt;</pre>
            <pre>        );</pre>
            <pre>    }</pre>
            <pre>});</pre>
            <pre>const Menu=React.createClass({</pre>
            <pre>    render:function(){</pre>
            <pre>        return(</pre>
            <pre>            &lt;div className="menu-list"&gt;</pre>
            <pre>                &lt;li className="menu"&gt;</pre>
            <pre>                  &lt;Link to="index" activeClassName="menu-active"&gt;首页&lt;/Link&gt;&lt;/li&gt;</pre>
            <pre>                &lt;li className="menu"&gt;</pre>
            <pre>                  &lt;Link to="react" activeClassName="menu-active"&gt;react&lt;/Link&gt;&lt;/li&gt;</pre>
            <pre>                &lt;li className="menu"&gt;</pre>
            <pre>                  &lt;Link to="java" activeClassName="menu-active"&gt;java&lt;/Link&gt;&lt;/li&gt;</pre>
            <pre>            &lt;/div&gt;</pre>
            <pre>        );</pre>
            <pre>    }</pre>
            <pre>});</pre>

            <pre>const IndexPage=React.createClass({</pre>
            <pre>    render:function(){</pre>
            <pre>        return(</pre>
            <pre>            &lt;div className="page"&gt;</pre>
            <pre>                &lt;p&gt;首页!&lt;/p&gt;</pre>
            <pre>            &lt;/div&gt;</pre>
            <pre>        );</pre>
            <pre>    }</pre>
            <pre>});</pre>

            <pre>const ReactPage=React.createClass({</pre>
            <pre>    render:function(){</pre>
            <pre>        return(</pre>
            <pre>           &lt;div className="page"&gt;</pre>
            <pre>                &lt;p&gt;react!&lt;/p&gt;</pre>
            <pre>            &lt;/div&gt;</pre>
            <pre>        );</pre>
            <pre>    }</pre>
            <pre>});</pre>

            <pre>const JavaPage=React.createClass({</pre>
            <pre>    render:function(){</pre>
            <pre>        return(</pre>
            <pre>           &lt;div className="page"&gt;</pre>
            <pre>                &lt;p&gt;java!&lt;/p&gt;</pre>
            <pre>            &lt;/div&gt;</pre>
            <pre>        );</pre>
            <pre>    }</pre>
            <pre>});</pre>

            <pre>ReactDOM.render((</pre>
            <pre>    &lt;Router history={browserHistory}&gt;</pre>
            <pre>        &lt;Route path="/" component={MainLayout}&gt;</pre>
            <pre>            &lt;Route component={MainContent}&gt;</pre>
            <pre>                &lt;IndexRoute component={IndexPage}/&gt;</pre>
            <pre>                &lt;Route path="index" component={IndexPage}/&gt;</pre>
            <pre>                &lt;Route path="react" component={ReactPage}/&gt;</pre>
            <pre>                &lt;Route path="java" component={JavaPage}/&gt;</pre>
            <pre>            &lt;/Route&gt;</pre>
            <pre>        &lt;/Route&gt;</pre>
            <pre>    &lt;/Router&gt;</pre>
            <pre>),document.getElementById("main"));</pre>
            <p>上面的例子主要包含了5个组件，通过菜单控制可以实现MainContent内容的切换，其嵌套结构图如下：</p>
            <div class="img-box">
              <img src="../../images/it/react/20170105/7.png" alt="">
            </div>
            <p>由于存在嵌套关系，因此就存在一个问题，怎么决定子组件的摆放位置，当然按照以往的开发模式，直接写那里不就完了嘛，但是单页面应用就不同了，存在组件的切换，还要考虑到复用性，上面的例子用到了this.props.children这个属性，这个呢就是确定子组件的摆放位置啦，路由通过这个去渲染对应的显示内容啦，与this.props.children属性对应起来，路由配置也需要嵌套配置了，父组件路由里面包含子组件路由，具体配置呢也不难，设置好path和component就行了。</p>
            <p>简单讲了一下嵌套路由配置之后，还需要了解路由的几个属性：</p>
            <p>1.IndexRoute</p>
            <p>IndexRoute从字面上也可以大致了解它的作用，他就说作为默认的路由，&lt;IndexRoute component={IndexPage}/&gt;表示当访问路径没有指明子组件配置的path时，就显示InexPaeg组件；</p>
            <p>2.Link</p>
            <p>在以往前端开发过程中，a标签常常用来链接跳转，但是在react-router中，不推荐直接使用a标签，而是Link组件，这个用来实现页面内的跳转，但其最终都会编译成a标签，如果你需要连接到外部界面，那就直接用a标签,与Link组件相关联的一个属性是activeClassName，这个是Link被选中时的样式，还是蛮实用的；</p>
            <p>3.Browser History</p>
            <p>作为Router组件的属性，用于制定浏览器历史记录的方式，通常是browserHistory，但是对于旧版的react，默认值是hashHistory，hashHistory使用页内的锚点作为历史记录，针对老浏览器，而browserHistory针对新浏览器，因为他们支持html5的历史记录api；</p>
            <p>4.路由匹配</p>
            <p>网页访问地址是多种多样的，而对于某些类似的访问路径，react-router提供了匹配的模式，形如：&lt;Route path="demo/:id" component={demoComponent}&gt;,该路径匹配demo/123，demo/abc等形式的路径，而且会将demo/后面的路径解析成属性名称为id的属性传递到对应组件当中去；</p>
          </div><!--end of content-->
        </div>
      </div>
    </div>
    <div class="scripts" style="position: absolute; display: none; visibility: hidden">
      <script type="text/javascript" src="../../js/jquery-2.0.3.min.js"></script>
      <script type="text/javascript" src="../../js/common.js"></script>
      <script type="text/javascript" src="../../js/prefixfree.min.js"></script>
    </div>
 </body>

</html>