<!doctype html>
<html>
 <head>
   <meta charset="utf-8">
   <title>技术-python</title>
   <meta name="viewport" content="width=device-width">
   <link rel="stylesheet" type="text/css" href="../../css/common.css">
   <link rel="stylesheet" type="text/css" href="../../css/normalize.css">
   <link rel="stylesheet" type="text/css" href="../../css/page.css">
   <link rel="stylesheet" type="text/css" href="../../css/article.css">
 </head>
 <body>
    <div class="loading-c" id="load-c">
      <div class="loading" id="loading">
          <span class="ball"></span>
          <span class="shadow"></span>
          <span class="text">加载中......</span>
      </div>
    </div>
    <div class="wrapper wrapper-bg"></div>
    <div class="main" id="main">
      <div class="drawer" id="drawer">
        <i></i>
        <i></i>
        <i></i>
      </div>
      <div class="mobile-aside">
        <div class="mobile-i">
          <div class="mobile-icon-box">
             <span class="icon"></span>
          </div>
            <span class="name">一个程序猿</span>
         </div>
         <a href="../../index.html">首页</a>
         <a href="../../about.html">关于</a>
         <a href="../../works.html">作品</a>
         <a href="../../it.html" class="cur">技术</a>
         <a href="../../contract.html">联系</a>
      </div>
      <div class="aside">
         <div class="aside-top trans-bg">
            <span class="icon"></span>
            <span class="name">一个程序猿</span>
         </div>
         <div class="aside-menu-panel trans-bg">
           <ul class="aside-menu">
            <li><a href="../../index.html">首页</a></li>
            <li><a href="../../about.html">关于</a></li>
            <li><a href="../../works.html">作品</a></li>
            <li class="cur"><a href="../../it.html">技术</a>
            <li><a href="../../contract.html">联系</a></li>
           </ul>
         </div>
      </div>
      <div class="content-i">
        <div class="it-acticle trans-bg">
          <h3>python基础学习--类型判断及转换</h3>
          <div class="info">
            <span class="date">发布时间：2016-12-9</span>
            <span class="tag">标签:python</span>
          </div>
          <div class="content">
            <p>在学习了python的基本数据类型之后，不可避免将面对类型的判断与转换的问题，例如js提供了typeof和instanceof来判断类型，parseInt,Number等方法进行数值换转，对于python，提供了类似的方法解决上述问题，下面是对其方法的具体记录。<p>
            <p>
            <p class="chapter-title">1.type</p>
            <p class="chapter-item">
              说明：判断基本数据类型
            </p>
            <p class="chapter-item">
              使用：
            </p>
            <pre>int1=10</pre>
            <pre>float1=12.5</pre>
            <pre>str1='123'</pre>
            <pre>bool1=True</pre>
            <pre>list1=[1,2,3]</pre>
            <pre>tuple1=(1,2,3)</pre>
            <pre>set1=set([1,2,3])</pre>
            <pre>dict1={'name':'neo','age':20}</pre>
            <pre>type(int1) # &lt;class 'int'&gt;</pre>
            <pre>type(float1) # &lt;class 'float'&gt; </pre>
            <pre>type(str1) # &lt;class 'str'&gt; </pre>
            <pre>type(bool1) # &lt;class 'bool'&gt; </pre>
            <pre>type(list1) # &lt;class 'list'&gt; </pre>
            <pre>type(tuple1) # &lt;class 'tuple'&gt; </pre>
            <pre>type(set1) # &lt;class 'set'&gt; </pre>
            <pre>type(dict1) # &lt;class 'dict'&gt; </pre>
            <p class="chapter-item">
              备注：
            </p>
            <p class="note">
              1.更实用的判断方式是：type(int1) is int #True
            </p>

            <p class="chapter-title">2.isinstance</p>
            <p class="chapter-item">
              说明：判断基本类型和复合类型
            </p>
            <p class="chapter-item">
              使用：
            </p>
            <pre>isinstance(int1,int) #True</pre>
            <pre>isinstance(float1,float) #True</pre>
            <pre>isinstance(str1,str) #True</pre>
            <pre>isinstance(bool1,bool) #True</pre>
            <pre>isinstance(list1,list) #True</pre>
            <pre>isinstance(tuple1,tuple) #True</pre>
            <pre>isinstance(set1,set) #True</pre>
            <pre>isinstance(dict1,dict) #True</pre>
            <p class="chapter-item">
              备注：
            </p>
            <p class="note">
              1.可以同时判断多个类型，如isinstance(int1,(list,int)) #True</br>
            </p>

            <p class="chapter-title">3.type与isinstance的区别</p>
            <p class="chapter-item">
              说明：type判断基本类型可以达到我们的预期，但是对于复合类型，就显得力不从心了，因此推荐使用isinstance函数，具体区别如下：
            </p>
            <p class="chapter-item">
              使用：
            </p>
            <pre>class Person:</pre>
            <pre>  def __init__(self,name):</pre>
            <pre>    self.name=name</pre>
            <pre>  def sayName(self):</pre>
            <pre>    print(self.name)</pre>
            <pre> </pre>
            <pre>class Chn(Person):</pre>
            <pre>  def __init__(self,name,country):</pre>
            <pre>    super(Chn,self).__init__(name)</pre>
            <pre>    self.country=country</pre>
            <pre>  def sayName(self):</pre>
            <pre>    print("I am from",self.country)</pre>
            <pre> </pre>
            <pre>p1=Person('test1')</pre>
            <pre>c1=Chn('张三','china')</pre>
            <pre>print("#---------isinstance------------")</pre>
            <pre>print(isinstance(p1,Person)) # True</pre>
            <pre>print(isinstance(c1,Person)) # True</pre>
            <pre>print(isinstance(c1,Chn)) # True</pre>
            <pre>print("#----------type-----------")</pre>
            <pre>print(type(p1) is Person) # True</pre>
            <pre>print(type(c1) is Person) # False</pre>
            <pre>print(type(c1) is Chn) # True</pre>

            <p class="chapter-item">
              备注：
            </p>
            <p class="note">
              以上试例实现了一个简单的继承，Chn继承于Person，Chn是Person，但Person不一定是Chn，使用isinstance可以正确判断实例类型，但是type就不能正确判断子类实例的类型</br>
            </p>
            
            <p class="chapter-title">4.类型转换</p>
            <p class="chapter-item">
              str->int
            </p>
            <pre>str1='10'</pre>
            <pre>str2='10a'</pre>
            <pre>str3='10.5'</pre>
            <pre>int(str1) # 10 </pre>
            <pre>int(str2) # ValueError </pre>
            <pre>int(str3) # ValueError </pre>
            <p class="chapter-item">
              备注：
            </p>
            <p class="note">
            字符串转换成整数，前提条件是字符串只能包含整数
            </p>

            <p class="chapter-item">
              float->int
            </p>
            <pre>int(10.5) # 10 </pre>

            <p class="chapter-item">
              int->float
            </p>
            <pre>float(10) # 10.0 </pre>
            <p class="chapter-item">
            str->list
            </p>
            <pre>list('123') #['1','2','3']</pre>
            <p class="chapter-item">
            set->list
            </p>
            <pre>list(set(['1','2','3'])) #['1','3','2']</pre>
            <p class="chapter-item">
            range->list
            </p>
            <pre>list(range(1,4)) #['1','2','3']</pre>
            <p class="chapter-item">
            tuple->list
            </p>
            <pre>list(('1','2','3')) #['1','2','3']</pre>
            <p class="chapter-item">
            dict->list
            </p>
            <pre>d={'a',10,'b':20}</pre>
            <pre>list(d) #['a','b']</pre>
            <p class="chapter-item">
              备注：
            </p>
            <p class="note">
            1.dict转换的时候，只将key值转换</br>
            2.任何类型都可以调用str函数进行转换</br>
            </p>

          </div><!--end of content-->
        </div>
      </div>
    </div>
    <div class="scripts" style="position: absolute; display: none; visibility: hidden">
      <script type="text/javascript" src="../../js/jquery-2.0.3.min.js"></script>
      <script type="text/javascript" src="../../js/common.js"></script>
      <script type="text/javascript" src="../../js/prefixfree.min.js"></script>
    </div>
 </body>

</html>