<!doctype html>
<html>
 <head>
   <meta charset="utf-8">
   <title>技术-面向对象</title>
   <meta name="viewport" content="width=device-width">
   <link rel="stylesheet" type="text/css" href="../css/common.css">
   <link rel="stylesheet" type="text/css" href="../css/normalize.css">
   <link rel="stylesheet" type="text/css" href="../css/page.css">
   <link rel="stylesheet" type="text/css" href="../css/article.css">
 </head>
 <body>
    <div class="wrapper wrapper-bg"></div>
    <div class="main" id="main">
      <div class="drawer" id="drawer">
        <i></i>
        <i></i>
        <i></i>
      </div>
      <div class="mobile-aside">
        <div class="mobile-i">
          <div class="mobile-icon-box">
             <span class="icon"></span>
          </div>
            <span class="name">一个程序猿</span>
         </div>
         <a href="../index.html">首页</a>
         <a href="../about.html">关于</a>
         <a href="../works.html">作品</a>
         <a href="../it.html" class="cur">技术</a>
         <a href="../contract.html">联系</a>
      </div>
      <div class="aside">
         <div class="aside-top trans-bg">
            <span class="icon"></span>
            <span class="name">一个程序猿</span>
         </div>
         <div class="aside-menu-panel trans-bg">
           <ul class="aside-menu">
            <li><a href="../index.html">首页</a></li>
            <li><a href="../about.html">关于</a></li>
            <li><a href="../works.html">作品</a></li>
            <li class="cur"><a href="../it.html">技术</a>
            <li><a href="../contract.html">联系</a></li>
           </ul>
         </div>
      </div>
      <div class="content-i">
        <div class="it-acticle trans-bg">
          <h3>python基础学习--面向对象</h3>
          <div class="info">
            <span class="date">发布时间：2016-12-14</span>
            <span class="tag">标签:python</span>
          </div>
          <div class="content">
            <p>python作为一门高级开发语言，面向对象是其不可或缺的重要特性，何为面向对象，万物皆对象，高度抽象，而又映射到具体实体上，python中的概念和语法跟java很类似，有java基础的看到python这块内容会有很熟悉的感觉，下面将记录一下面向对象在python中的实现。<p>
            <p>
            <p class="chapter-title">1.定义</p>
            <pre>class Person:</pre>
            <pre>   pass</pre>
            <p class="chapter-item">
              备注：
            </p>
            <p class="note">
              1.class关键字定义类，可省略</br>
              2.默认继承object超类</br>
              3.类名首字母大写</br>
            </p>
            
            <p class="chapter-title">2.创建实例</p>
            <pre>p1=Person()</pre>
            <pre>p1.name='neo'</pre>
            <pre>print(p1.name) # neo</pre>
            <p class="chapter-item">
              备注：
            </p>
            <p class="note">
              1.创建实例没有new关键字</br>
              2.可以动态给实例添加属性和方法</br>
            </p>

            <p class="chapter-title">3.构造函数</p>
            <p class="chapter-item">
              说明：与java类似，python中也有构造函数的概念，用来初始化实例，在具体实现上面，略有差异
            </p>
            <pre>class Person:</pre>
            <pre>  def __init__(self,name,age):</pre>
            <pre>       self.name=name</pre>
            <pre>       self.age=age</pre>

            <pre>p1=Person('neo',20)</pre>
            <pre>print(p1.name,p1.age) # neo 20</pre>
              备注：
            </p>
            <p class="note">
              self表示当前实例，与Java中的this关键字类似</br>
            </p>

            <p class="chapter-title">4.普通方法</p>

            <pre>class Person:</pre>
            <pre>  def __init__(self,name,age):</pre>
            <pre>       self.name=name</pre>
            <pre>       self.age=age</pre>
            
            <pre>  def say(self):</pre>
            <pre>     print(self.name,self.age)</pre>
            
            <pre>  def sayHello(self,words):</pre>
            <pre>     print(self.name,words)</pre>

            <pre>p1=Person('neo',20)</pre>
            <pre>p1.say() # neo 20</pre>
            <pre>p1.sayHello('hello') # neo hello</pre>
            <p class="chapter-item">
              备注：
            </p>
            <p class="note">
             1.普通函数第一个参数也是self</br>
             2.self后面添加入参</br>
            </p>

            <p class="chapter-title">5.属性访问限制</p>
            <p class="chapter-item">
              说明：如果想隐藏某些重要数据，限制外界的直接访问，这时候就需要限制属性的访问，提供统一对外接口，封装内部数据逻辑，功能于类似java中的private关键字。
            </p>
            <pre>def Person: </pre>
            <pre>   def __init__(self,name,age)</pre>
            <pre>       self.__name=name</pre>
            <pre>       self.age=age</pre>
            <pre>   def getName(self):</pre>
            <pre>       return self.__name</pre>
            <pre></pre>
            <pre>p1=Person('neo',20)</pre>
            <pre>print(p1.age) # 20</pre>    
            <pre>print(p1.getName()) # 'neo' </pre> 
            <pre>p1.__name # 'Person' object has no Attribute '__name'</pre>
  
            <p class="chapter-item">
              备注：
            </p>
            <p class="note">
             __xx,双下划线+属性名，这类属性不能通过实例直接访问，需要暴露接口调用</br>
            </p>

            <p class="chapter-title">6.类属性和实例属性</p>
            <p class="chapter-item">
              说明：类属性从属于类，所有实例共享，实例属性从属于某一个具体的实例，属于独有；
            </p>
            <pre>class Person:</pre>
            <pre>   count=0</pre>
            <pre>   def __init__(self.name):</pre>
            <pre>     self.name=name</pre>
            <pre>     self.age=age</pre>
            <pre>p1=Person('neo',20)</pre>
            <pre>print(p1.count) # 0</pre>
            <pre>print(Person.count) # 0</pre>
            <pre>p1.count=2</pre>
            <pre>p2=Person('jack',30)</pre>
            <pre>print(p2.count) # 0</pre>
            <pre></pre>

            <p class="chapter-item">
              备注：
            </p>
            <p class="note">
             1.p1和p2共享类属性count</br>
             2.类属性可以通过类名访问</br>
             3.在实例上试图修改类属性是不能成功的，其实是在实例中添加了同名的属性，在访问变量的时候，有类似js中作用域的概念，先从实例中查找，如果没有再从类中查找</br>
            </p>

            <p class="chapter-title">6.类方法和静态方法</p>
            <p class="chapter-item">
              说明：类方法使用@classmethod标注，静态方法使用@staticmethod标注；
            </p>
            <pre>class Person:</pre>
            <pre>   num=10</pre>
            <pre>   def __init__(self.name):</pre>
            <pre>       self.name=name</pre>
            <pre>   @classmethod</pre>
            <pre>   def classm(cls):</pre>
            <pre>       print(cls.num)</pre>
            <pre>   @staticmethod</pre>
            <pre>   def staticm(name):</pre>
            <pre>       print(name)</pre>

            <pre>p1=Person('neo')</pre>
            <pre>print(p1.num) # 10</pre>
            <pre>print(Person.num) # 10</pre>
            <pre>Person.staticm('neo') # neo</pre>

            <pre>p2=Person('jack')</pre>
            <pre>p2.classm() # 10</pre>
            <pre>Person.staticm('jack') #jack</pre>
             <p class="chapter-item">
              备注：
            </p>
            <p class="note">
              1.实例方法第一个参数是self</br>
              2.类方法第一个参数是class,类方法只能访问类变量</br>
              3.类方法可以通过类名或者实例调用</br>
              4.静态方法不需要额外的参数，不能访问类变量和实例变量</br>
              5.静态方法通过类名调用</br>
            </p>

            <p class="chapter-title">7.继承</p>
            <p class="chapter-item">
              说明：python可以多继承，这与java有点区别，java是能单继承；
            </p>
            <pre>class Person:</pre>
            <pre>   def __init__(self,name):</pre>
            <pre>     self.name=name</pre>
            <pre>   def sayName(self):</pre>
            <pre>       print(self.name)</pre>

            <pre>class Student(Person):</pre>
            <pre>   def __init__(self,name,school):</pre>
            <pre>       super(Student,self).__init__(name)</pre>
            <pre>       self.school=school</pre>
            <pre>   def sayName(self):</pre>
            <pre>       print('this is student',self.name)</pre>

            <pre>p1=Person('neo')</pre>
            <pre>p1.sayName() # neo</pre>
            <pre>s1=Student('xiaoming','ccnu') # this is student xiaoming</pre>
            <pre>s1.sayName()</pre>
             <p class="chapter-item">
              备注：
            </p>
            <p class="note">
             1.如果一个子类继承多个基类，那么对于基类存在共同的方法，继承在前的会覆盖后面基类的方法</br>
            </p>
          </div><!--end of content-->
        </div>
      </div>
    </div>
    <div class="scripts" style="position: absolute; display: none; visibility: hidden">
      <script type="text/javascript" src="../js/jquery-2.0.3.min.js"></script>
      <script type="text/javascript" src="../js/jquery.smoothState.js"></script>
      <script type="text/javascript" src="../js/common.js"></script>
      <script type="text/javascript" src="../js/prefixfree.min.js"></script>
    </div>
 </body>

</html>