<!doctype html>
<html>
 <head>
   <meta charset="utf-8">
   <title>前端工作面试总结</title>
   <meta name="viewport" content="width=device-width">
   <link rel="stylesheet" type="text/css" href="../../css/common.css">
   <link rel="stylesheet" type="text/css" href="../../css/normalize.css">
   <link rel="stylesheet" type="text/css" href="../../css/page.css">
   <link rel="stylesheet" type="text/css" href="../../css/article.css">
 </head>
 <body>
    <div class="loading-c" id="load-c">
      <div class="loading" id="loading">
          <span class="ball"></span>
          <span class="shadow"></span>
          <span class="text">加载中......</span>
      </div>
    </div>
    <div class="wrapper wrapper-bg"></div>
    <div class="main" id="main">
      <div class="drawer" id="drawer">
        <i></i>
        <i></i>
        <i></i>
      </div>
      <div class="mobile-aside">
        <div class="mobile-i">
          <div class="mobile-icon-box">
             <span class="icon"></span>
          </div>
            <span class="name">一个程序猿</span>
         </div>
         <a href="../../index.html">首页</a>
         <a href="../../about.html">关于</a>
         <a href="../../works.html">作品</a>
         <a href="../../it.html" class="cur">技术</a>
         <a href="../../contract.html">联系</a>
      </div>
      <div class="aside">
         <div class="aside-top trans-bg">
            <span class="icon"></span>
            <span class="name">一个程序猿</span>
         </div>
         <div class="aside-menu-panel trans-bg">
           <ul class="aside-menu">
            <li><a href="../../index.html">首页</a></li>
            <li><a href="../../about.html">关于</a></li>
            <li><a href="../../works.html">作品</a></li>
            <li class="cur"><a href="../../it.html">技术</a>
            <li><a href="../../contract.html">联系</a></li>
           </ul>
         </div>
      </div>
      <div class="content-i">
        <div class="it-acticle trans-bg">
          <h3>前端工作面试总结</h3>
          <div class="info">
            <span class="date">发布时间：2017-02-28</span>
            <span class="tag">标签:css js 面试</span>
          </div>
          <div class="content">
            <p>去年年底打算换份工作，因此投了几份简历，面试了三家公司，虽然最后还是决定不跳槽，但是面试的过程还是比较有收获的，很有必要总结反思一下，由于面试的岗位是前端开发工程师，因此面试的内容主要就是js和css,当然还有一些其他的开发性的问题，后面会顺便提到，废话不多说，进入正题。</p>
            <p class="chapter-title">
              一.技术问题
            </p>
            <ul class="sub-list">
              <li>1.两个span之间默认情况下有间隙，怎么解决，有几种方式？</li>
              <li>2.不定宽高的div，实现页面中的绝对居中，要求兼容ie8及其以上，有几种方法？</li>
              <li>3.高度为100px的div,里面有一段文字，怎么实现垂直居中？</li>
              <li>4.电商网站现在有打分的功能，形如几颗五角星，点第几颗就打几分，怎样用纯css实现该功能？</li>
              <li>5.有一个水平功能列表，现在需要实现的效果是：鼠标滑动到功能菜单上，菜单上就显示提示框，怎样用纯css实现?</li>
              <li>6.有两个div垂直排列,分别是A和B，在A左下角会有一个box</li>
              <li>7.页面分为三列，左边和右边固定宽度，中间不固定，有几种布局方式？</li>
              <li>8.简述浏览器垃圾回收机制？</li>
              <li>9.手写一个闭包函数，讲解一下闭包的概念和使用场景？</li>
              <li>10.说一下对react或者angular的了解？</li>
              <li>11.简述一下双向数据绑定的原理？</li>
              <li>12.jquery中delegate和on的区别？</li>
              <li>13.工作当中用到了那些前端框架？</li>
              <li>14.工作当中用到了那些自动化工具？</li>
            </ul>
             <p class="chapter-title">
              一.综合问题
            </p>
            <ul class="sub-list">
              <li>1.简要说明一下你在工作当中碰到的一个难题，以及你是如何解决它的？</li>
              <li>2.领导交给你一个任务，3天必须完成，但是自己需要五天或者更多时间，你怎么解决？</li>
            </ul>
          </div><!--end of content-->
        </div>
      </div>
    </div>
    <div class="scripts" style="position: absolute; display: none; visibility: hidden">
      <script type="text/javascript" src="../../js/jquery-2.0.3.min.js"></script>
      <script type="text/javascript" src="../../js/common.js"></script>
      <script type="text/javascript" src="../../js/prefixfree.min.js"></script>
    </div>
 </body>

</html>