<!doctype html>
<html>
 <head>
   <title>https原理初探</title>
   <meta charset="utf-8">
   <meta name="viewport" content="width=device-width">
   <link rel="stylesheet" type="text/css" href="../../css/common.css">
   <link rel="stylesheet" type="text/css" href="../../css/normalize.css">
   <link rel="stylesheet" type="text/css" href="../../css/page.css">
   <link rel="stylesheet" type="text/css" href="../../css/article.css">
 </head>
 <body>
    <div class="loading-c" id="load-c">
      <div class="loading" id="loading">
          <span class="ball"></span>
          <span class="shadow"></span>
          <span class="text">加载中......</span>
      </div>
    </div>
    <div class="wrapper wrapper-bg"></div>
    <div class="main" id="main">
      <div class="drawer" id="drawer">
        <i></i>
        <i></i>
        <i></i>
      </div>
      <div class="mobile-aside">
        <div class="mobile-i">
          <div class="mobile-icon-box">
             <span class="icon"></span>
          </div>
            <span class="name">一个程序猿</span>
         </div>
         <a href="../../index.html">首页</a>
         <a href="../../about.html">关于</a>
         <a href="../../works.html">作品</a>
         <a href="../../it.html" class="cur">技术</a>
         <a href="../../contract.html">联系</a>
      </div>
      <div class="aside">
         <div class="aside-top trans-bg">
            <span class="icon"></span>
            <span class="name">一个程序猿</span>
         </div>
         <div class="aside-menu-panel trans-bg">
           <ul class="aside-menu">
            <li><a href="../../index.html">首页</a></li>
            <li><a href="../../about.html">关于</a></li>
            <li><a href="../../works.html">作品</a></li>
            <li class="cur"><a href="../../it.html">技术</a>
            <li><a href="../../contract.html">联系</a></li>
           </ul>
         </div>
      </div>
      <div class="content-i">
        <div class="it-acticle trans-bg">
          <h3>https原理初探</h3>
          <div class="info">
            <span class="date">发布时间：2016-12-27</span>
            <span class="tag">标签:https</span>
          </div>
          <div class="content">
            <p>https目前被越来越多的网站采用，我们在访问银行或者电商网站的时候就可以看到https的影子，当然对于普通使用者来说没多大差别，但是对于网络安全性却是重大的提升。<p>
            <p>
            <p>https，即secure http,http的安全升级版本， 从技术的角度为什么这么说，简单概括来讲，http传输过程是：http->tcp，https传输过程是：https->TLS/SSL->tcp，TLS/SSL就是一个加密的套件，因此保证了数据的安全传输，降低了数据被监听和篡改的风险，当然使用了https之后不是绝对的安全，所以这里说的只是降低，本身https数字证书也会有安全风险，还是那句话，安全只是相对的。</p>
            <p>在讲解https的内容之前，先说说加密的内容吧，加密现在普遍分为两类：对称加密和非对称加密，还有一个概念就是密钥，通过密钥加密和解密，具体加密的方式很多，常见的有诸如MD5,BASE64,SHA-1,SHA-256,AES等，回过头来说说对称加密和非对称加密的区别吧：</p>
            <ul>
              <li>
                <p>1.对称加密</p>
                <p>加密和解密的密钥一致，怎么加密就怎么解密，比如将所有字符+1，解密就-1就行了，因此不能暴露密钥，否则就等于裸奔了；</p>
              </li>
              <li>
                <p>2.非对称加密</p>
                <p>跟对称加密不一样的是，加密一个密钥，称为私钥，解密一个密钥，称为公钥，公钥谁都可以知道，因为你还是解不开，这就厉害了喔，而私钥则不对外公开，虽然数据更加，安全但是运算比较复杂，效率不及对称加密。</p>
              </li>
            </ul>
            <p>对称和非对称加密各有优缺点，https要使用怎样的加密算法才能确保数据的安全呢，首来看一个使用非对称加密的传输过程：</p>
            <div class="img-box">
              <img src="../../images/it/web/20170103/1.png" alt="">
            </div>
            <p>上图采用了非对称加密算法，公钥暴漏给客户端，任何人都可以访问获取到，因此可以使用该密钥加密发送给服务端，这样客户端传输给服务端的数据就安全啦，但是有一个问题啊，第5步骤的数据可以通过公钥解密啊，这样数据被监听了就可以解密服务端发送给客户端的数据了，具体过程如下图：</p>
            <div class="img-box">
              <img src="../../images/it/web/20170103/2.png" alt="">
            </div>
            <p>问题出在6步骤哪里，因为只要有公钥就可以解密通过私钥加密的数据，因此单纯采用非对称加密只能保证单程数据传输安全，那么用什么方式才能保证数据不可破解呢，牛人们想到了用对称和非对称两种方式结合起来，具体传输过程如下：</p>
            <div class="img-box">
              <img src="../../images/it/web/20170103/3.png" alt="">
            </div>
            <p>客户端与服务端传输的数据采用对称加密，密钥是客户端随机生成的，而为了确保此随机数不被破解，就采用非对称加密的方式传输给服务端，这样子别人知道了公钥又能怎样呢，解密不了啊，因此能保证对称加密的公钥安全，而随后的数据传输对称加密，坏人不知道密钥只能干瞪眼了，因此采用这种结合的方式就能确保数据的加密解密安全了。</p>
            <p>对称加密很好理解，而非对称加密，这里最后说一点，私钥加密的数据只能对应的公钥解密出来，而反过来公钥加密的数据也只能对应的私钥解密出来。</p>
          </div><!--end of content-->
        </div>
      </div>
    </div>
    <div class="scripts" style="position: absolute; display: none; visibility: hidden">
      <script type="text/javascript" src="../../js/jquery-2.0.3.min.js"></script>
      <script type="text/javascript" src="../../js/common.js"></script>
      <script type="text/javascript" src="../../js/prefixfree.min.js"></script>
    </div>
 </body>

</html>